* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.name-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.About-button img {
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.About-button img:hover {
    transform: scale(1.3);
    opacity: 0.8;
}

:root {
    --gradient: linear-gradient(
        45deg,
        #ffffff,
        #000000
    );
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%; 
    margin: 0;
    padding: 0;
    font-family: "handjet", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    color: white;
    background: rgba(255, 255, 255, 0.041);
    text-align: center;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 20s infinite alternate;
    overflow-x: hidden; 
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: rgba(53, 160, 103, 0.2);
}

.slider .slidet {
    display: flex;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); /* Scroll half the total width to create a continuous loop */
    }
}

#cmatrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}



.slider .slide img:hover {
    transform: scale(1.3); /* Hover effect for slider images */
    opacity: 1;
}

.para {
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
}

.contract {
    color: aliceblue;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    
}

.contract:hover {
    transform: scale(1.2);
    opacity: 1.8;
}

.home-button img:hover {
    transform: scale(1.9);
    opacity: 0.8;
}

.about {
    color: white;
}

h3, h4 {
    color: white;
}

.text-box-style {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-wrap: break-word;
}

.glowing-text {
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #007bff, 0 0 20px #007bff, 0 0 25px #007bff, 0 0 30px #007bff, 0 0 35px #007bff;
    }
    100% {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff007b, 0 0 40px #ff007b, 0 0 50px #ff007b, 0 0 60px #ff007b, 0 0 70px #ff007b;
    }
}

.cmatrix-green {
    color: #00ff00; /* A bright green color */
}

.filter-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.new{
    color: white
}


.hover-lift-section {
    transition: transform 0.3s ease-in-out;
}

.hover-lift-section:hover {
    transform: translateY(-5px); /* Lifts up by 5px */
}